/* .beautiful-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.beautiful-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.beautiful-table th, .beautiful-table td {
    padding: 12px 15px;
}

.beautiful-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.beautiful-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.beautiful-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.left-column {
    background-color: #EFEFEF;
    padding: 10px;
}

.to-the-right {
    float: right;
}

.description-column {
    width: 200px;
    vertical-align: middle;
}

.custom-input-width {
    width: 400px;
}

td {
    vertical-align: middle;
}

