<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Timesheet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{styles.css}" rel="stylesheet">
</head>
<body>
<div class="container pt-3">
    <h2>Disaster Recovery Application: Time Card Submission</h2>
    <div class="row">
        <div class="col-sm-2 left-column">
            <a th:href="@{/time_card_submission}">Back</a>
        </div>
        <div class="col-sm-10">
            <h4 class="left-column">Add Timesheet</h4>

            <label for="job-code">Job Code:</label>
            <input type="text" class="form-control custom-input-width" id="job-code">

            <label for="contractor-name">Contractor Name:</label>
            <input type="text" class="form-control custom-input-width"
                   id="contractor-name">

            <label for="job-code">Date</label>
            <input type="text" class="form-control custom-input-width"
                   id="date" placeholder="mm-dd-yyyy">
            <h4>Job Entry</h4>
            <form>
                <div id="job-entry">
                    <div>
                        Job Code
                        <select class="form-control custom-input-width" type="text">
                            <option value="">Job Code</option>
                        </select>

                        Hours Worked
                        <input class="form-control custom-input-width" id="jc-1">

                        Total Compensation
                        <input class="form-control custom-input-width" type="text" readonly id="jc-t-1">
                    </div>
                    <div>
                        Job Code
                        <select class="form-control custom-input-width" type="text">
                            <option value="">Job Code</option>
                        </select>

                        Hours Worked
                        <input class="form-control custom-input-width" id="jc-2">

                        Total Compensation
                        <input class="form-control custom-input-width" type="text" readonly id="jc-t-2">
                    </div>
                    <div>
                        Job Code
                        <select class="form-control custom-input-width" type="text">
                            <option value="">Job Code</option>
                        </select>

                        Hours Worked
                        <input class="form-control custom-input-width" id="jc-3">

                        Total Compensation
                        <input class="form-control custom-input-width" type="text" readonly id="jc-t-3">
                    </div>
                </div>
                <a id="add-job-btn" class="btn btn-outline-primary" role="button">Add Job Entry</a>
                <a id="submit-btn" class="btn btn-primary">Submit</a>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script th:src="@{/app.js}"></script>
</body>
</html>