<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Time Card Submission</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link th:href="@{/styles.css}" th:rel="stylesheet">
</head>
<body>

<div class=" d-flex p-3 mx-auto flex-column">
          <nav class="nav nav-masthead justify-content-center">
          		<a sec:authorize="hasAnyAuthority('USER', 'ADMIN')"th:href="@{/}" class="nav-link" >Home</a>
                <a sec:authorize="hasAnyAuthority('USER')"th:href="@{/time_card_submission}" class="nav-link active">Time Card Submission</a>
                <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/job_mgmt}" class="nav-link">Job Management</a>
                <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/machine_mgmt}" class="nav-link">Machine Management</a>
                <a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/time_card_approval}" class="nav-link">Time Card Approval</a>
				<a sec:authorize="hasAnyAuthority('USER', 'ADMIN')" th:href="@{/logout}" class="nav-link">Logout</a>

<!--             <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a> -->
          </nav>
          <br>
          <br>
          <br>
          <br>
			<div>
			<h4 class="left-column">Time Card Submission</h4>
            <a th:href="@{/add_timesheet}"
               class="to-the-right btn btn-primary" role="button">
                Enter New Timesheet
            </a>
            <br>
            <div class="to-the-right">&nbsp;</div>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Site Code</th>
                    <th>Contractor Name</th>
                    <th>Total Hours</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="timesheet : ${timesheets}">
                    <td th:text="${timesheet.jobSiteCode}">jobSiteCode</td>
                    <td th:text="${timesheet.contractorName}">contractorName
                    </td>
                    <td th:text="${timesheet.hoursWorked + ' hours'}">
                        hoursWorked</td>
                    <td
                            th:text="${'$' + timesheet.totalEarned}">totalEarned
                    </td>
                    <td th:text="${timesheet.status} ? 'Finalized' : 'Open'">
                        status
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
          
          
          
          
     </div>

 

        
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>